header>h2 {
  margin-top: 2rem;
}

article {
  padding: 2rem;
}

article>* {
  margin-bottom: 1rem;
}

article:last-of-type {
  margin-bottom: 16rem;
}

article:nth-child(odd) {
  background-color: hsla(0, 0%, 90%, .5);
}

code {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
  background-color: hsla(0, 0%, 0%, .0625);
  padding: .25rem;
  font-size: .875em;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  opacity: .5;
}

a:focus {
  opacity: .75;
  color: hsl(350, 90%, 60%);
}

hr {
  border-bottom: thin solid;
  margin: 2rem 0;
}

/* Page fade-in effect: */

@keyframes fade {
  from {
    opacity: 0;
  }
}

body {
  animation: 1s fade ease-in-out;
}
