header>h2 {
    margin-top: 2rem;
}

article {
    padding: 2rem;
}

article>* {
    margin-bottom: 1rem;
}

article:last-of-type {
    padding-bottom: 8rem;
}

article:nth-child(odd) {
    background-color: hsla(0, 0%, 90%, .5);
}

code {
    font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
    background-color: hsla(0, 0%, 0%, .0625);
    padding: .25rem;
}


/* Fake page transition (fade-in): */

@keyframes fade {
    from {
        opacity: 0;
    }
}

body {
    animation: 1s fade ease-in-out
}
