.o\:a {
	overflow: auto
}

.o\:h {
	overflow: hidden
}

.o\:s {
	overflow: scroll;
	-webkit-overflow-scrolling: touch
}

.o\:v {
	overflow: visible
}

.ox\:a {
	overflow-x: auto
}

.ox\:h {
	overflow-x: hidden
}

.ox\:s {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch
}

.ox\:v {
	overflow-x: visible
}

.oy\:a {
	overflow-y: auto
}

.oy\:h {
	overflow-y: hidden
}

.oy\:s {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.oy\:v {
	overflow-y: visible
}

[class^="ox\:"] {
	-ms-overflow-style: none
}

[class^="ox\:"] ::-webkit-scrollbar {
	display: none
}